@using Mateus.SistemaAcademico.Models
@using Mateus.SistemaAcademico.Models.Enums


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema para Faculdades</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("University System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session.Keys.Cast<String>().Any(c => c == "usuarioLogado"))
            {
                @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Logout", "Logout", "Login")</li>
                    </ul>
                </div>*@

                if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Administrador)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Aluno", "Index", "Alunos")</li>
                            <li>@Html.ActionLink("Secretaria", "Index", "Secretarias")</li>
                            <li>@Html.ActionLink("Professor", "Index", "Professores")</li>
                            <li>@Html.ActionLink("Curso", "Index", "Cursos")</li>
                        </ul>
                    </div>
                }
                if ((Session["usuarioLogado"] as Usuario).TipoPerfil == TipoPerfil.Aluno)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Disciplina", "Index", "Disciplinas")</li>
                            <li>@Html.ActionLink("Conteudo", "Index", "Conteudos")</li>
                            <li>@Html.ActionLink("Frequencia", "Index", "Frequencia")</li>
                            <li>@Html.ActionLink("Nota", "Index", "Notas")</li>
                        </ul>
                    </div>
                }
            }
            else
            {
                @*<li>@Html.ActionLink("Logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
            }

            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
