@model IList<Mateus.SistemaAcademico.Models.Responsavel>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Responsáveis</h2>
<div class="card-body">
    <p>
        <a href="/Responsavel/AdicionarResponsavel">Cadastrar Responsável</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Nome</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Data de nascimento</th>
                    <th>Escolaridade</th>
                    <th>Estado Civil</th>

                    <th></th>
                    <th></th>
                    <th></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var responsaveis in ViewBag.Responsavel)
                {
                    using (Html.BeginForm("ListarResponsaveis", "Responsável", new { id = responsaveis.Id }))
                    {
                        <tr>
                            <td>
                                @responsaveis.Nome
                            </td>

                            <td>
                                @responsaveis.Email
                            </td>

                            <td>
                                @responsaveis.Cpf
                            </td>

                            <td>
                                @responsaveis.DataDeNascimento
                            </td>

                            <td>
                                @responsaveis.Escolaridade
                            </td>

                            <td>
                                @responsaveis.EstadoCivil
                            </td>

                            <td>
                                <a href="/Responsavel/RemoverResponsavel/@responsaveis.Id">Remover Responsável</a>
                            </td>

                            <td>
                                <a href="/Responsavel/VisualizarDetalhes/@responsaveis.Id">Detalhes</a>
                            </td>

                            <td>
                                <a href="/Responsavel/EditarResponsavel/@responsaveis.Id">Editar Responsável</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>
