@model IList<Mateus.SistemaAcademico.Models.Aluno>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de alunos do sistema</h2>
<div class="card-body">

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Nome</th>
                    <th>Email</th>
                    <th>Cpf</th>
                    <th>Data de nascimento</th>
                    <th>RA</th>
                    <th>Nome do responsavel</th>
                    <th>Curso Matriculado</th>

                    <th></th>
                    <th></th>

                    <td>
                        <a href="/Alunos/AdicionarAluno">Adicionar Aluno</a>
                    </td>
                </tr>

            </thead>

            <tbody>

                @foreach (var aluno in ViewBag.Alunos)
                {
                    using (Html.BeginForm("ListarAluno", "Aluno", new { id = aluno.Id }))
                    {
                        <tr>
                            <td>
                                @aluno.Nome
                            </td>

                            <td>
                                @aluno.Email
                            </td>

                            <td>
                                @aluno.Cpf
                            </td>

                            <td>
                                @aluno.DataDeNascimento
                            </td>

                            <td>
                                @aluno.RegistroDoAluno
                            </td>

                            <td>
                                @aluno.ResponsavelId
                            </td>

                            <td>
                                @aluno.CursoId
                            </td>

                            <td>
                                <a href="/Alunos/RemoverAluno/@aluno.Id">Remover Aluno</a>
                            </td>

                            <td>
                                <a href="/Alunos/ListarAluno/@aluno.Id">Listar Alunos</a>
                            </td>

                            <td>
                                <a href="/Alunos/EditarAluno/@aluno.Id">Editar Aluno</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
