@model IEnumerable<Mateus.SistemaAcademico.Models.Frequencia>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar Frequencias</title>
</head>
<body>
    <p>
        @Html.ActionLink("Adicionar", "AdicionarFrequencia")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplinaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplinaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlunoId)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarFrequencia", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "VisualizarDetalhes", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "RemoverFrequencia", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>
