@model IList<Mateus.SistemaAcademico.Endereco>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de endereços do sistema</h2>
<div class="card-body">

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>CEP</th>
                    <th>Nome da rua</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>Bairro</th>
                    <th>Estado</th>
                    <th>Cidade</th>

                    <th></th>
                    <th></th>

                    <td>
                        <a href="/Enderecos/AdicionarEndereco">Adicionar Endereço</a>
                    </td>
                </tr>

            </thead>

            <tbody>

                @foreach (var enderecos in ViewBag.Enderecos)
                {
                    using (Html.BeginForm("ListarEndereco", "Enderecos", new { id = enderecos.Id }))
                    {
                        <tr>
                            <td>
                                @enderecos.Cep
                            </td>

                            <td>
                                @enderecos.NomeRua
                            </td>

                            <td>
                                @enderecos.Numero
                            </td>

                            <td>
                                @enderecos.Complemento
                            </td>

                            <td>
                                @enderecos.Bairro
                            </td>

                            <td>
                                @enderecos.Estados
                            </td>

                            <td>
                                @enderecos.Cidades
                            </td>

                            <td>
                                <a href="/Enderecos/RemoverEndereco/@enderecos.Id">Remover Endereco</a>
                            </td>

                            <td>
                                <a href="/Enderecos/ListarEndereco/@enderecos.Id">Listar Endereco</a>
                            </td>

                            <td>
                                <a href="/Enderecos/EditarEndereco/@enderecos.Id">Editar Endereco</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
