@model Mateus.SistemaAcademico.Endereco

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Remover</title>
</head>
<body>
    <h3>Deseja remover este endereço?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NomeRua)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NomeRua)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Complemento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Complemento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estados)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estados)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cidades)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cidades)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Remover" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
</body>
</html>
