@model Mateus.SistemaAcademico.Models.Conteudo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h4>Detalhes Conteúdo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DisciplinaId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DisciplinaId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditarConteudo", new { id = Model.Id }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>
