@model Mateus.SistemaAcademico.Models.Avaliacao


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h4>Avaliação</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Aluno)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aluno.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nota)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nota)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Disciplina)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Disciplina.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditarAvaliacao", new { id = Model.Id }) |
        @Html.ActionLink("Remover", "RemoverAvaliacao", new { id = Model.Id }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>
