@model IList<Mateus.SistemaAcademico.Models.Trabalho>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de Trabalhos</h2>
<div class="card-body">
    <p>
        <a href="/Trabalhos/AdicionarTrabalho">Adicionar nota</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>
                    <th>Aluno</th>
                    <th>Nota do Trabalho</th>
                    <th>Disciplina</th>
                    <th>Data de início</th>
                    <th>Data de entrega</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

            </thead>

            <tbody>

                @foreach (var trabalho in ViewBag.Trabalhos)
                {
                    using (Html.BeginForm("ListarTrabalho", "Trabalhos", new { id = trabalho.Id }))
                    {
                <tr>
                    <td>
                        @trabalho.AlunoId
                    </td>

                    <td>
                        @trabalho.Nota
                    </td>

                    <td>
                        @trabalho.DisciplinaId
                    </td>


                    <td>
                        @trabalho.DataDeInicio
                    </td>

                    <td>
                        @trabalho.DataDaEntrega
                    </td>


                    <td>
                        <a href="/Trabalhos/RemoverTrabalho/@trabalho.Id">Remover</a>
                    </td>

                    <td>
                        <a href="/Trabalhos/VisualizarDetalhes/@trabalho.Id">Detalhes</a>
                    </td>

                    <td>
                        <a href="/Trabalhos/EditarTrabalho/@trabalho.Id">Editar</a>
                    </td>

                </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>
