@model IEnumerable<Mateus.SistemaAcademico.Models.Trabalho>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplinaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDaEntrega)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisciplinaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDaEntrega)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarTrabalho", new { id=item.Id }) |
                @Html.ActionLink("Detalhes", "VisualizarDetalhes", new { id=item.Id }) |
                @Html.ActionLink("Remover", "RemoverTrabalho", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
    @Html.ActionLink("Voltar", "Index")
</body>
</html>
