@model IEnumerable<Mateus.SistemaAcademico.Models.Professor>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar</title>
</head>
<body>
  
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Titulacao)
            </th>

            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)

        <td>
            @Html.DisplayFor(modelItem => item.Titulacao)
        </td>

        <td>
            @Html.ActionLink("Detalhes", "VisualizarDetalhes", new { id = item.Id })
        </td>
    </tr>
    }
    
    </table>
    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>
