@model Mateus.SistemaAcademico.Models.Professor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h4>Detalhes do Professor</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cpf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataDeNascimento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegistroDoProfessor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegistroDoProfessor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Titulacao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Titulacao)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditarProfessor", new { id = Model.Id }) |
        @Html.ActionLink("Voltar", "ListarProfessores")
    </p>
</body>
</html>
