@model IEnumerable<Mateus.SistemaAcademico.Models.TipoDeAvaliacoes>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar notas de avaliações</title>
</head>
<body>
    <p>
        @Html.ActionLink("Lançar nota", "AdicionarTipoDeAvaliacoes")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataAvaliacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaAvaliacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaSubstitutivas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaExameFinal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAvaliacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaAvaliacoes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaSubstitutivas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaExameFinal)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarTipoDeAvaliacoes", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "VisualizarDetalhes", new { id = item.Id }) |
                    @Html.ActionLink("Remover", "RemoverTipoDeAvaliacoes", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>
