<form action="/Cursos/AdicionarCurso" method="post">


        @Html.AntiForgeryToken()

        <h2>Cadastro de Cursos</h2>

    @Html.ValidationMessage("cursos.Nome")
    <label for="nome">Nome:</label>
    <input id="nome" name="nome" />

    @Html.ValidationMessage("cursos.DataDeInicio")
    <label for="datadeinicio">Data de Inicio:</label>
    <input type="date" id="datadeinicio" name="datadeinicio" />

    @Html.ValidationMessage("cursos.DataDeFim")
    <label for="datadefim">Data de Fim:</label>
    <input type="date" id="datadefim" name="datadefim" />

    @Html.ValidationMessage("cursos.DataDeFim")
    <label for="coordenadorid">Coordenador:</label>
    <input id="coordenadorid" name="coordenadorid" />

    @Html.ValidationMessage("cursos.TipoCurso")
    <label for="tipocurso">Tipo de Curso:</label>

    @*<input id="tipocurso" name="tipocurso" />*@
    <select name="tipocurso" asp-for="tipocurso">
        <option value="0">Licenciatura</option>
        <option value="1">Bacharelado</option>
        <option value="2">Tecnologo</option>
    </select>


    <input type="submit" class="btn btn-primary" value="Cadastrar" />

</form>