@model IList<Mateus.SistemaAcademico.Models.Curso>

@{

    ViewBag.Title = "Index";

}

<h2>Lista de cursos do sistema</h2>
<div class="card-body">

    <p>
        <a href="/Cursos/AdicionarCurso">Cadastrar Curso</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

            <thead>

                <tr>

                    <th>Nome</th>
                    <th>Duração do Curso</th>
                    <th>Tipo de Curso</th>
                    <th>Área</th>

                    <th></th>
                    <th></th>
                    <th></th>

                </tr>

            </thead>

            <tbody>

                @foreach (var cursos in ViewBag.cursos)
                {
                    using (Html.BeginForm("ListarCurso", "Curso", new { id = cursos.Id }))
                    {
                        <tr>
                            <td>
                                @cursos.Nome
                            </td>

                            <td>
                                @cursos.Duracao
                            </td>

                            <td>
                                @cursos.TipoCurso
               
                            <td>
                                @cursos.Area
                            </td>

                            <td>
                                <a href="/Cursos/RemoverCurso/@cursos.Id">Remover Curso</a>
                            </td>

                            <td>
                                <a href="/Cursos/VisualizarDetalhes/@cursos.Id">Detalhes</a>
                            </td>

                            <td>
                                <a href="/Cursos/EditarCurso/@cursos.Id">Editar Curso</a>
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <p>
            @Html.ActionLink("Voltar", "Index", "Home")
        </p>
    </div>
</div>
