@model IEnumerable<Mateus.SistemaAcademico.Models.Curso>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar Curso</title>
</head>
<body>
    <p>
        @Html.ActionLink("Adicionar novo curso", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordenadorId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordenadorId)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarCurso", new { id=item.Id }) |
                @Html.ActionLink("Detalhes", "VisualizarDetalhes", new { id=item.Id }) |
                @Html.ActionLink("Excluir", "RemoverCurso", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
