@model Mateus.SistemaAcademico.Models.Curso

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div>
        <h4>Detalhes do curso</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Duracao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duracao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataDeInicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataDeInicio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DataDeFim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DataDeFim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CoordenadorId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CoordenadorId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecretariaId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecretariaId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoCurso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoCurso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Periodo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Periodo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "EditarCurso", new { id = Model.Id }) |
        @Html.ActionLink("Voltar", "Index")
    </p>
</body>
</html>

@*==============================================================================================================*@

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>

            <tr>

                <th>Nome</th>
                <th>Curso Matriculado</th>

                <th></th>
                <th></th>
                <th></th>

            </tr>

        </thead>

        <tbody>
            @if (Model.Alunos.Count != 0)
            {
                foreach (var aluno in ViewBag.Alunos)
                {
                    using (Html.BeginForm("ListarAluno", "Aluno", new { id = aluno.Id }))
                    {
                        <tr>
                            <td>
                                @aluno.Nome
                            </td>

                            <td>
                                @aluno.CursoId
                            </td>

                        </tr>
                    }
                }
            }

        </tbody>
    </table>
</div>

